<%- include("partials/header");  -%>
<h1>Compose</h1>
<div class="form-group">
<form action="/compose" method="POST">
<label for="">Title</label>
<textarea name="postTitle" class="form-control" rows="1" cols="150"></textarea>
<label for="">Post</label>
<textarea name="postBody" class="form-control" rows="5" cols="150"></textarea>
</div>
<button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>



<%- include("partials/footer");  -%>